<div class="row-layout header">
  <div class="row-layout group">
    <img src="https://static.infragistics.com/marketing/slingshot/slingshot-icon.svg" class="image" />
    <button igxButton="flat" igxRipple [igxToggleAction]="projectDropdown" class="button">
      <span>Home</span>
      <igx-icon>
        keyboard_arrow_down
      </igx-icon>
    </button>
    <igx-drop-down #projectDropdown class="project-dropdown">
      <igx-drop-down-item>
        Home
      </igx-drop-down-item>
      <igx-drop-down-item>
        Company Inc
      </igx-drop-down-item>
      <igx-drop-down-item>
        INDIGO.DESIGN
      </igx-drop-down-item>
      <igx-drop-down-item>
        Growth hacking
      </igx-drop-down-item>
      <igx-drop-down-item>
        Public preview
      </igx-drop-down-item>
      <igx-drop-down-item>
        UX Feedback
      </igx-drop-down-item>
      <igx-drop-down-item>
        Reveal
      </igx-drop-down-item>
      <igx-drop-down-item>
        Onboarding
      </igx-drop-down-item>
      <igx-drop-down-item>
        Analytics
      </igx-drop-down-item>
    </igx-drop-down>
  </div>
  <div class="row-layout group_1">
    <button igxButton="raised" igxRipple [igxToggleAction]="section" class="button_1">
      <igx-icon>
        add
      </igx-icon>
      <span>Task</span>
    </button>
    <button igxButton="icon" igxRipple class="button_2">
      <igx-icon>
        add_alert
      </igx-icon>
    </button>
    <button igxButton="icon" igxRipple class="button_2">
      <igx-icon>
        message
      </igx-icon>
    </button>
    <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar6.png" [roundShape]="true"></igx-avatar>
    <igx-drop-down #section class="section">
      <igx-drop-down-item class="dropdown-item">
        Option
      </igx-drop-down-item>
    </igx-drop-down>
  </div>
</div>
<div class="row-layout group_2">
  <igx-nav-drawer [pin]="true" [pinThreshold]="1024" width="320px" class="nav-drawer">
    <ng-template igxDrawerMini>
      <div igxDrawerItem routerLink="/my-tasks" class="nav-drawer-item">
        <igx-icon class="icon">
          assignment_turned_in
        </igx-icon>
      </div>
      <div igxDrawerItem routerLink="/dashboards" class="nav-drawer-item">
        <igx-icon class="icon">
          dashboard
        </igx-icon>
      </div>
      <div igxDrawerItem class="nav-drawer-item">
        <igx-icon class="icon">
          vertical_split
        </igx-icon>
      </div>
      <div igxDrawerItem class="nav-drawer-item">
        <igx-icon class="icon">
          bar_chart
        </igx-icon>
      </div>
      <div igxDrawerItem class="nav-drawer-item">
        <igx-icon class="icon">
          folder
        </igx-icon>
      </div>
    </ng-template>
    <ng-template igxDrawer>
      <div igxDrawerItem class="nav-drawer-item">
        <igx-icon class="icon">
          account_circle
        </igx-icon>
        <span>Title goes here</span>
      </div>
    </ng-template>
  </igx-nav-drawer>
  <div class="view-container">
    <router-outlet></router-outlet>
    <router-outlet></router-outlet>
  </div>
</div>
